

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: #000;
}

a {
  color: #030304;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
    font-weight: 700;
    line-height: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #C83E6F;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #F6B14B;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #c4447a;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #e9ae55;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
a, button{
    transition: all 0.8s ease-in-out!important;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
     background-color: #C13A73;
    opacity: 0.95;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #F6B14B;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #040404;
  font-size: 17px;
  background:#e8aa4c;
  font-weight: 500;
  border: 1px solid #f6b14b;

}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: transparent;
  border:1px solid #e8aa4c;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #e8aa4c;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
.value-sec p{
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 0;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* background: rgba(40, 58, 90, 0.9); */
  transition: 0.3s;
  z-index: 999;
  background-color: #C13A73;
  opacity: 0.95;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  /* background-color: #C13A73; */
  /* opacity: 0.95; */
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #000000;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #F6B14B;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #000000;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
  visibility: visible !important;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-image: url("../img/banner-bg.webp");
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.herobanner{
    z-index: 99;
}
#hero::before{
    content: "";
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}
.hero-banner-img {
  padding: 30px;
}
#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 1.3;
}
a{
    transition: all .3s;
}
#hero .btn-get-started {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 500;
  font-size: 17px;
  /* letter-spacing: 1px; */
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #000;
  background: #F6B14B;
  border: 1px solid #f6b14b;
  transition: all .3s;
}
#hero .btn-watch-video:hover,#hero .btn-watch-videos:hover{
    color: #f6b14b;
}
.btn-yellow {
      font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 500;
    font-size: 17px;
    /* letter-spacing: 1px; */
    display: inline-block;
    padding: 15px 28px 15px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #000;
    background: #F6B14B;
    border: 1px solid #f6b14b;
    line-height: 1;
    display: inline-block;
}
.btn-yellow:hover{
  background:transparent;
  color:#f6b14b;
  border: 1px solid #f6b14b;
}
.cta-btn-section {
  text-align: center;
}
#hero .btn-get-started:hover {
  background: #fff;
  color: #000;
  border: 1px solid #fff;
}



#hero .btn-watch-video,#hero .btn-watch-videos {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}
@media (max-width: 786px) {
  #hero .btn-watch-video,#hero .btn-watch-videos {
  
  margin: 10px 0px 0px 10px;

}
}


#hero .btn-watch-video i,#hero .btn-watch-videos i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-left: 8px;
}

#hero .btn-watch-video:hover i,#hero .btn-watch-videos:hover i {
  color: #f6b14b;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 100%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #FFFDF1;
}

.section-title {
  text-align: center;
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #000000;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #c4447a;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  /* padding: 10px 132px; */
}


.white-h h2 {
  color: #fff;
}
.white-h p {
  color: #fff;
}
.section-title.white-h  h2::before {
content: "";
position: absolute;
display: block;
width: 120px;
height: 1px;
background: #fff;
bottom: 1px;
left: calc(50% - 60px);
}

.section-title.white-h h2::after {
content: "";
position: absolute;
display: block;
width: 40px;
height: 3px;
background: #ffffff;
bottom: 0;
left: calc(50% - 20px);
}
/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 40px 0;
  text-align: center;
}
.clients .clients-slider .swiper-slide img {
  /* opacity: 0.5; */
  transition: 0.3s;
}

.clients .clients-slider .swiper-slide img:hover {
  opacity: 1;
}

.clients .clients-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #4154f1;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4154f1;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/

section#why-choose {
    background: #C83E6F;
}
.why-choose .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}


.why-choose .icon {
  margin-bottom: 15px;
}
.why-choose img.img-fluid.icons {
  margin-bottom: 15px;
}
.why-choose .icon i {
  font-size: 48px;
  line-height: 1;
  color: #106eea;
  transition: all 0.3s ease-in-out;
}

.why-choose .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}

.why-choose .title a {
  color: #111;
}

.why-choose .description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
  padding: 60px 100px 0 100px;
}

.why-us .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #37517e;
}

.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.why-us .content p {
  font-size: 15px;
  color: #848484;
}

.why-us .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.why-us .accordion-list {
  padding: 0 100px 60px 100px;
}

.why-us .accordion-list ul {
  padding: 0;
  list-style: none;
}

.why-us .accordion-list li+li {
  margin-top: 15px;
}

.why-us .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.why-us .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
  cursor: pointer;
}

.why-us .accordion-list span {
  color: #47b2e4;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.why-us .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.why-us .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.why-us .accordion-list .icon-show {
  display: none;
}

.why-us .accordion-list a.collapsed {
  color: #343a40;
}

.why-us .accordion-list a.collapsed:hover {
  color: #47b2e4;
}

.why-us .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.why-us .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1024px) {

  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }

  .why-us .content {
    padding-top: 30px;
  }

  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }
}

/*--------------------------------------------------------------
# presence
--------------------------------------------------------------*/
.presence .icon-box {
  /* box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1); */
  /* padding: 50px 30px; */
  transition: all ease-in-out 0.4s;
  /* background: #fffdf1; */
  text-align: center;
  /* border-radius: 15px; */
  width: 100%;
  /* text-align: center; */
}
.presence  img.img-fluid.icons {
  margin-right: 0px;
  margin-bottom: 15px;
  width: 80px;
  height: 80px;
}
.presence .icon-box .icon {
  margin-bottom: 10px;
}

.presence .icon-box .icon i {
  color: #0c0a06;
  font-size: 50px;
  transition: 0.3s;
}

.presence .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 20px;
}

.presence .icon-box h4 a {
  color: #000000;
  transition: ease-in-out 0.3s;
}

.presence .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
section#presence {
    background: #f6b14b;
}
section#presence p{
    color: #000;
}




/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
.values .box {
  /* padding: 30px; */
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
  
}
@media only screen and (min-width: 820px) {
  .values .box {
  /* padding: 30px; */
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
  min-height: 458px;
}
}
@media only screen and (min-width: 1400px) {
  .values .box {
  /* padding: 30px; */
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
  min-height: 474px;
  cursor: pointer;
}
}

.values .box h3 {
  font-size: 24px;
  color: #060607;
  font-weight: 600;
  /* margin-top: 18px; */
}

.values .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.values .box:hover img {
  transform: scale(1);
}

img.values-video {
  width: 397px;
  height: 210px;
}

.value-details {
  padding: 20px;
  overflow: visible;
  min-height: 100px;
  margin: 20px;
}
/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: #f6b14b;
  background-size: cover;
  padding: 60px 0;
}

.cta h3 {
  color: #0b0a0a;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.3;
}

.cta p {
  color: #fff;
}

.cta .cta-btn,.cta-btns {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 500;
  font-size: 17px;
  /* letter-spacing: 1px; */
  display: inline-block;
  padding: 12px 28px 12px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 15px;
  border: 2px solid #c4447a;
  color: #fff;
  background: #c4447a;
  line-height: 1;
}

.cta .cta-btn:hover,.cta-btns:hover {
  background: transparent;
  border: 2px solid #000000;
  color:#000;
}
.cta-btns{
    margin-top: 30px;
}
.portfolio-video .owl-dots{
    position: relative;
    top: 30px;
}
@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #47b2e4;
  color: #fff;
}

.portfolio .portfolio-item {
  /*margin-bottom: 50px;*/
  cursor: pointer;
}
.portfolio .cta-btn-section{
    margin-top: 50px;
}
.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 1;
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 3;
  right: 12px;
  transition: all 0.3s;
  background: rgb(196 68 122 / 84%);
  padding: 18px 15px;
  text-align: center;
  min-height: 50px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #47b2e4;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #47b2e4;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #47b2e4;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(55, 81, 126, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}



/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
  background: #fff;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

.testimonials .testimonial-item .stars {
  margin-bottom: 15px;
}

.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #e9ae55;
  margin: 0;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #c4447a69;
  opacity: 1;
  border: 1px solid #c4447a;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #c4447a;
}

.testimonials .swiper-slide {
  /* opacity: 0.3; */
}

@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1;
  }

  .testimonials .swiper-pagination {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .testimonials .swiper-slide-next {
    opacity: 1;
    /* transform: scale(1.12); */
  }
}





/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
}

.features .feature-box h3 {
  font-size: 18px;
  color: #012970;
  font-weight: 700;
  margin: 0;
}

.features .feature-box i {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.features .feature-box:hover i {
  background: #4154f1;
  color: #fff;
}


.features .feature-icons h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .features .feature-icons h3 {
    font-size: 28px;
  }
}

.features .feature-icons .content .icon-box {
  display: flex;
}

.features .feature-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #000000;
}

img.img-fluid.icons {
    margin-right: 15px;
    width:64px!important;
    height:64px;
}


.features .feature-icons .content .icon-box i {
  font-size: 44px;
  line-height: 44px;
  color: #c4447a;
  margin-right: 15px;
}

.features .feature-icons .content .icon-box p {
  font-size: 16px;
  /* color: #e9ae55; */
 
}
.choose-why .section-title p{
    margin-bottom: 20px;
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
@media (min-width: 1200px) {
.team .member .member-info {
  padding-left: 30px;
}
}
@media (max-width: 1200px) {
.team .member .member-info {
  padding: 10px;
}
}
.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
  height: 100%;
}

.team .member .pic {
  /*overflow: hidden;*/
  /* width: 180px; */
  border-radius: 50%;
}
.teamimg{
    width: 80px;
    height: 80px;
}
.team .member .pic img {
  transition: ease-in-out 0.3s;
  border-radius: 100%;
  border-radius: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.team .member:hover {
  transform: translateY(-10px);
}


  

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 22px;
  color: #000000;
  line-height: 1.3;
margin-bottom: 10px;
}

.team .member span {
  display: block;
  font-size: 16px;
  padding-bottom: 5px;
  position: relative;
  font-weight: 500;
  color: #e9ae54;
}

.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #e9ae54;
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 16px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 786px) {
.team .member .social {
  margin-top: 30px;
}
}
.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 42px;
  height: 42px;
  background: #eff2f8;
}

.team .member .social a i {
  color: #37517e;
  font-size: 22px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: #e9ae54;
}

.team .member .social a:hover i {
  color: #fff;
}

.team .member .social a+a {
  margin-left: 8px;
}
/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
section#faq {
  background: white;
}
.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li+li {
  margin-top: 15px;
}
.faq .cta-btn-section{
    margin-top: 50px;
}
.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
  border: 1px solid #f6b14b;
  border-radius: 5px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  /*font-family: "Poppins", sans-serif;*/
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 35px;
  outline: none;
  cursor: pointer;
  color: #c3437a;
}
.faq .faq-list .faqcontent{
    padding: 0 35px;
}
.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #e8ad55;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
#shadow-host-companion{
    padding: 0!important;
}
.faq .faq-list p {
  margin-bottom: 0;
  padding: 15px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #000000;
  transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
  color: #c3437a;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
section#contact {
  background: #fffdf1;
}
.contact .info {
  border-top: 3px solid #c3437a;
  border-bottom: 3px solid #c3437a;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #c3437a;
  float: left;
  width: 44px;
  height: 44px;
  background: #da84642e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #000000;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #c3437a;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #47b2e4;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #c3437a;
  border-bottom: 3px solid #c3437a;
  padding: 30px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #c4447a;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #c4447a;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form label {
    padding-bottom: 15px;
    color: #333;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
}
@media only screen and (max-width: 786px)  {
.contact .php-email-form label {
    padding-bottom: 5px;
    color: #333;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
}
}
.service-slider .owl-nav,.portfolio-video .owl-nav,.choose-slider .owl-nav,.whatwedo-slider .owl-nav{
    display: block!important;
}
.service-slider .owl-nav button,.portfolio-video .owl-nav button,.choose-slider .owl-nav button,.whatwedo-slider .owl-nav button{
    background: transparent!important;
}
.service-slider .owl-nav button,.portfolio-video .owl-nav button,.choose-slider .owl-nav button,.whatwedo-slider .owl-nav button{
    position: absolute;
    top: 40%;
    margin-top: -25px;
    z-index: 99;
    line-height: 48px;
    text-align: center;
    width: 46px;
    height: 46px;
    margin: 0!important;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

@media only screen and (max-width: 1300px) {
  .service-slider .owl-nav button,.portfolio-video .owl-nav button,.choose-slider .owl-nav button, .whatwedo-slider .owl-nav button{
    position: absolute;
    top: 32%;
    margin-top: -25px;
    z-index: 99;
    line-height: 48px;
    text-align: center;
    width: 46px;
    height: 46px;
    margin: 0!important;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
}
.portfolio-video .owl-nav button{
    top: 35%;
}
.blog-slider .owl-nav button img,.service-slider .owl-nav button img,.portfolio-video .owl-nav button img,.choose-slider .owl-nav button img,.whatwedo-slider .owl-nav button img{
    width: 40px;
    height: 40px;
}
.service-slider .owl-nav button.owl-next,.portfolio-video .owl-nav button.owl-next,.choose-slider .owl-nav button.owl-next,.whatwedo-slider .owl-nav button.owl-next{
    right: -50px;
}
.service-slider .owl-nav button.owl-prev,.portfolio-video .owl-nav button.owl-prev,.choose-slider .owl-nav button.owl-prev,.whatwedo-slider .owl-nav button.owl-prev{
    left: -50px;
}
.choose-slider .owl-nav button {
    top: 35%;
}
.choose-slider .owl-nav button.owl-prev{
    transform: rotate(180deg);
}
    
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
  padding: 10px 15px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #f6b14b;
}

.contact .php-email-form input {
  height: 50px;
  border-radius: 15px;
  /* padding: 0.375rem 0.75rem; */
}
li.contact {
    color: #C13A73!important;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
  border-radius: 15px;
}

.contact .php-email-form button[type=submit] {
  background: #f6b14b;
  border: 0;
  padding: 12px 34px;
  color: #000;
  transition: 0.4s;
  border: 1px solid #f6b14b;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
 background:transparent;
  color:#f6b14b;
  border:1px solid #f6b14b;
}
.site-footer a:hover{
    color: #f3c042 !important;
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f3f5fa;
  min-height: 40px;
  margin-top: 72px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
  color: #37517e;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4668a2;
  content: "/";
}
/* Footer */
.site-footer {
  background: #262626;
  font-size: 18px;
  color: #fff;
  line-height:1.2;
  padding: 70px 0 40px;
  }
  .site-footer a {
      font-weight:200;
    color: #fff;
    position: relative;
    display: inline-block;
    text-decoration: none; }
    .site-footer a:hover {
      color: #fff;
      text-decoration: none; }
      .site-footer a:hover:before {
        background:#262626; }
  .site-footer .footer-cta h2, .site-footer .footer-cta .h2 {
    font-size: 30px;
    color: #fff }
  .site-footer .btn:before {
    display: none; }
  .site-footer .widget {
    margin-bottom: 40px;
    display: block; }
 .site-footer .widget img{
   width:77px }
    .site-footer .widget h3, .site-footer .widget .h3 {
      font-size: 20px;
      font-weight: 200;
      text-transform: uppercase;
      margin-bottom: 15px;
      color: #fff; }
    .site-footer .widget .links {
      width: 150px; }
      .site-footer .widget .web.links {
            width: 200px; }
      .site-footer .widget .links li {
        margin-bottom: 10px; }
  
    .site-footer .social li a {
      display: inline-block;
      width: 40px;
      height: 40px;
      position: relative;
      background: #C13A73;
      border-radius: 50%; }
      

        .social-links a {
          font-size: 18px;
          display: inline-block;
          background: #c4447a;
          color: #fff;
          line-height: 1;
          padding: 8px 0;
          margin-right: 4px;
          border-radius: 50%;
          text-align: center;
          width: 36px;
          height: 36px;
          transition: 0.3s;
        }

        .social-links a:hover {
          background: #fffdf1;
          color: #fcc640;
          text-decoration: none;
            
        }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #c4447a!important;
    border: 1px solid #c4447a;
} 
.owl-theme .owl-dots .owl-dot span {
    background: #c4447a69!important;
    border: 1px solid #c4447a;
} 
.ctasections{
    margin: auto;
}
.choose-slider.owl-theme .owl-dots .owl-dot.active span, .choose-slider.owl-theme .owl-dots .owl-dot:hover span{
    background: #fff!important;
    border: 1px solid #fff;
} 
.choose-slider.owl-theme .owl-dots{
    position: relative;
    top: 30px;
}
.choose-slider.owl-theme .owl-dots .owl-dot span{
     background: rgba(255,255,255,0.7)!important;
    border: 1px solid #fff;
}
@media all and (max-width: 1025px){
    .service-slider .owl-nav button.owl-prev{
        left: 0;
    }
    .service-slider .owl-nav button img, .portfolio-video .owl-nav button img {
        width: 35px;
        height: 35px;
    }
    .value-details{
        /* min-height: 230px; */
    }
    .portfolio .portfolio-item .portfolio-info{
        min-height: 75px;
    }
    .portfolio-video .owl-nav button{
            top: 255px!important;
            bottom: 0!important;
            left: 0;
            right: 0;
            margin: auto!important;
    }
    .service-slider .owl-nav button{
        top: 100%!important;
        bottom: 100%!important;
        left: 0;
        right: 60px;
        margin: auto!important;
    }
    section{
        padding: 50px 0;
    }
}
@media all and (max-width: 1100px){
   .service-slider .owl-nav, .portfolio-video .owl-nav,.choose-slider .owl-nav, .whatwedo-slider .owl-nav{
       display: none!important;
   } 
   .portfolio .owl-dots{
       margin-top: 20px;
   }
   .portfolio .cta-btn-section{
       margin-top: 30px;
   }
   .values .box{
       margin-bottom: 30px;
   }
   section{
       padding: 50px 0;
   }
}
@media all and (max-width: 767px){
    .cta h3{
        font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.3;
    }
    .section-title{
        padding-bottom: 15px;
    }
    .value-sec .col-xl-2{
        display: none;
    }
    .section-title h2{
        line-height: 1.3;
    }
}
@media all and (max-width: 580px){
    #hero .btn-get-started{
        padding: 10px 20px 11px 20px;
    }
    .team .member{
        display: block!important;
        text-align: center;
    }
    .teamimg{
        margin: auto;
margin-bottom: 20px;
    }
    .team .member span::after{
        left: 0;
    margin: auto;
    right: 0;
    }
    .team .member .social{
        justify-content: center;
    }
    .site-footer{
        /*text-align: center;*/
         justify-content: center;
    }
     .site-footer .row .footer-cent{
         /*width: inherit;*/
     }
     .footer-cent{
         text-align: center;
     }
     .site-footer .footer-cent .widget .links{
         width: 100%;
         text-align: center;
     }
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #C13A73;
}
#hero.bannervideo{
    background: url('../img/banner-video.mp4');
}
/* Hero Video */
.outter.hero-video {
  width: 100%;
  height: 100%;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  padding: 0;
}
@media (max-width: 767px) {
  .outter.hero-video {
    height: 100vh;
  }
}

.hero-video .video-container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;
  display: flex;
align-items: center;
}
.hero-video .video-container::before{
    content: "";
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}
@media (max-width: 767px) {
  .hero-video .video-container {
    height: 70vh;
  }
  #hero.hero-video{
      height: 70vh;
  }
}
.hero-video video {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 767px) {
  .hero-video video {
    height: 70vh;
  }
  .bannercta{
      display: block!important;
  }
  .bannercta .btn-watch-videos{
    justify-content: center;
    margin-top: 20px!important;
  }
}
.hero-video .video-container:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
/* video popup */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 100%;
  height: 90%;
}
@media (max-width: 767px) {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 90%;
  height: 40%;
}

.close {
  position: absolute;
  top: 25px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/*Floating cta*/
.call-enquire {
  display: flex;
  height: 7%;
  width: 100%;
  text-align: center;
  cursor: pointer;
  z-index: 999;
  background: #c4447a;
  bottom: 0;
  left: 0px;
  line-height: 1.3;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
  color: #fff !important;
  /* font-family: Gotham-Book; */
  /* text-transform: uppercase; */
  font-weight: 700;
  /* letter-spacing: 2px; */
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: auto;
}
.call-enquire a{
  color: #fff !important;  
  font-size: 22px;
  
}

/*Whatsapp */
.float{
  position:fixed;
  width: 65px;
  /* height: 66px; */
  bottom: 45px;
  right: 28px;
  background-color: #00a884;
  color:#FFF;
  border-radius: 50%;
  text-align:center;
  font-size: 40px;
  /* box-shadow: 1px 1px 2px #999; */
  z-index:100;
}

.my-float{
  margin-top:16px;
}
/*Modal styles*/
.modal-backdrop{
    position:relative;
}
.pl_modal{
    padding-top:0px;
}
.pl_modal .btn-close{
    background-color: #C83E6F !important;
    width: fit-content;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 12px;
    position: absolute;
    right: -15px;
    z-index: 10;
    top: -15px;
    opacity: 1;
    font-size: 12px;
    color: #000 !important;
    font-weight: 400;
    padding-bottom: 0px;
    border: none;
}
.pl_modal .modal-content{
    border-radius:15px;
}
.pl_modal .modal-body{
    padding:0px;
}
.pl_modal h5{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-bottom: 20px;
    position: relative;
    color: #000000;
}
.pl_modal h5::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.pl_modal h5::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #c4447a;
    bottom: 0;
    left: calc(50% - 20px);
}
.contact .php-email-form label.error{
    color: red;
    font-size: 15px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-left: 10px;
}
/*Modal styles*/
@media only screen and (max-width: 764px)  {
  .float{
  position:fixed;
  width: 52px;
  height: 50px;
  bottom: 110px;
  right: 20px;
  background-color: #00a884;
  color:#FFF;
  border-radius: 50%;
  text-align:center;
  font-size: 35px;
  /* box-shadow: 1px 1px 2px #999; */
  z-index:100;
}
#hero .btn-get-started.estimate {
    margin: 20px 25px 0px 25px;
}

}

/*Mobile fixed cta*/
@media only screen and (min-width: 786px)  {
a.mobile-enquiry.scrollto.open_lead_popup {
    display: none;
}
}


a.mobile-enquiry {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-weight: 500;
    font-size: 17px;
    /* letter-spacing: 1px; */
    display: inline-block;
    padding: 8px 25px 8px 25px;
    margin-right: 20%;
    border-radius: 50px;
    transition: 0.5s;
    color: #000;
    background: #F6B14B;
    border: 1px solid #f6b14b;
    transition: all .3s;
}
 /* Blog*/
 .blog-slider .item{
  background:#fff !important;
  border-radius:10px;
}
.blog-slider .item  img{
  background: #fff!important;;
  border-radius:10px 10px 0px 0px;
}
.blog-slider .item{
  background:#fff;
  border-radius:10px;
  border: 1px solid #f6b14b;
}

.blog-slider .item  .value-details h3{line-height:1.3;font-size:22px;font-weight: 600;}


.blog-slider button:hover {
  background:transparent!important;
}
.blog-slider .item  .value-details{
  min-height: 70px;
  padding:0px;
}


.video-responsive iframe {
  width: 100%;
  min-height: 300px;
}

@media only screen and (min-width: 1024px)  {

  .youtube .section-title{text-align:left;padding-bottom:20px;}
  .youtube .section-title h2{margin-bottom:0px;font-size: 42px;/* padding-bottom: 0px; */}
  .youtube .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(10% - 60px);
  }
  
  .youtube .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #c4447a;
    bottom: 0;
    left: calc(10% - 20px);
  }
  
  }
  @media only screen and (max-width: 786px)  {
   
  
  .youtube .section-title{text-align:left;padding-bottom:20px;}
  .youtube .section-title h2{margin-bottom:0px;}
  .youtube .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
       left: calc(20% - 70px);
  }
  
  .youtube .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #c4447a;
    bottom: 0;
    left: calc(20% - 30px);
  }
  }


section#youtube {
  background: #fffdf1;
}

section#youtube {
  background: #fffdf1;
}
select#budget {
  color: gray;
  height: 50px;
  border-radius: 15px;
  font-size: 15px;
}
select#city {
  color: gray;
  height: 50px;
  border-radius: 15px;
  font-size: 15px;
}
@media only screen and (min-width: 786px)  {
    #hero .btn-get-started.estimate {
    margin: 10px 0 0 25px;
}
}
